
.main-header {
  padding: 60px;
  text-align: center;
  background: lightslategray;
  
}
ol {
  margin-bottom: 2em;
}
ol li {
  list-style: none;
  display: inline-block;
  float: right;
  
}

li {
  padding: 1em;
}

.nav {
  text-align: center;

}
  body {
    min-height: 100%;
  }


.photorunner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  
}

img {
width: 300px;
height: 200px;

}

.center-info {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    color: lightslategray;
    height: 100%;
}

.create {
  text-align: center;
  color: lightslategray;
  border: solid wheat 2px;
}

.rowpullbottom {
  display: flex;
}
.col {
  color: lightslategray;

}

footer {
  background: lightslategray;
  text-align: center;
  margin-bottom: -50px;
}

.main-footer {
  height: 50px;
}
