html {
  height: 100%;
}
.main-header {
  text-align: center;
  border-bottom: 5px solid lightslategray;
  
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

ol li {
  list-style: none;
  display: inline-block;
  align-items: flex-start;
}

li {
  padding:0 1em;
}

.nav {
  text-align: center;

}
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }


.photorunner {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 100%;
  border-bottom: solid 5px lightslategray;
  border-width: 100%;
  
}

.photorunner img {
width: 300px;
height: 200px;

}

.center-info {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    color: lightslategray;
    height: 100%;
}

.create {
  text-align: center;
  color: lightslategray;
  border: solid wheat 2px;
}

.rowpullbottom {
  display: flex;
}
.col {
  color: lightslategray;
  padding: 100px;
 
}

footer {
  background: lightslategray;
  text-align: center;
  margin-top: auto;
}

.main-footer {
  height: 50px;
  }

  .text-muted {
    text-align: center;
    margin-top: 50%;
  }

 /*about page*/

 .aboutimg {
   height: 300px;
   width: 300px;
   margin: 30 auto;
 }

.about {
  text-align: center;
  margin: 0 200px;
}

.about h1 {
  border-bottom: 3px solid lightslategray;
}

/*cookbook page */

.cookbookcontainer {
  display: flex;
}

.recipe {
  height: auto;
  width: 50%;
  background: lavender;
  
  text-align: center;
  flex: 1;
}


.recipe h1 {
  background: rgba(16, 153, 199, 0.74);
  border: solid 3px lightslategray;
}

.imgbtm img {
  height: 150px;
  width: 150px;
}

.imgbtm {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 800px;
}

.recipelink {
  display: flex;
}


/* contact page */

.contactpage {
  display: flex;
}

.contactform {
  margin: 100px 100px;
}

.contactimg {
  height: 500px;
  width: 405px;
  margin: 100px;
}

.contactinfo {
  display: flex;
  justify-content: space-around;
}

.contact {
  text-align: center;
  margin: auto;

}

/*log in*/

.title {
  text-align: center;
  padding: 50px 0 20px;
}

.title h1 {
  margin: 0;
  padding: 0;
  color: lightslategray;
  text-transform: uppercase;
  font-size: 36px;

}

.logincontainer {
  width: 50%;
  height: 400px;
  background: lemonchiffon; 
  margin: 0 auto;
  border: 2px solid lightslategray;
  box-shadow: 0 15px 40px rgba(0,0,0,.5);
}

.logincontainer .left {
  float: left;
  width: 50%;
  height: 400px;
  background-size: cover;
  background-image: url("img/cupcake.jpg");
  box-sizing: border-box;
}

.logincontainer .right {
  float: right;
  width: 50%;
  height: 400px;
  box-sizing: border-box;

}

.formBox {
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  height: 400px;

}

.formBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: lightslategray;
}

.formBox input {
  margin-bottom: 20px;
  width: 100%;
  }

  .formBox input[type="text"],
  .formBox input[type="Password"] 
  {
    border: none;
    border-bottom:  2px solid lightslategray;
    outline: none;
    height: 40px;
      }
      .formBox input[type="text"]:focus,
      .formBox input[type="Password"]:focus
       {
        border-bottom:  2px solid lightslategray; 
      }
  
      .formBox input[type="submit"] {
        border: none;
        outline: none;
        height: 40px;
        color: lightslategray;
        background: #262626;
        cursor: pointer;
      }

      .formBox input[type="submit"]:hover {
        background: midnightblue;
      }

      .formBox a {
        color: midnightblue;
        font-size: 12px;
        font-weight: bold;
      }

      /*sign up page*/

     .signuppg {
       margin: 0;
       padding: 0;
     }

     .logincontainer .signupleft {
      float: left;
      width: 50%;
      height: 400px;
      background-size: cover;
      background-image: url("img/cake.jpg");
      box-sizing: border-box;
    }

    .logincontainer .signupright {
      float: right;
      width: 50%;
      height: 400px;
      box-sizing: border-box;
    
    }
    .signupformBox input[type="Email"] 
    {
      border: none;
      border-bottom:  2px solid lightslategray;
      outline: none;
      height: 40px;
        }
     
        .signupformBox {
          width: 100%;
          padding: 3px 30px;
          box-sizing: border-box;
          height: 400px;
        
        }
        
        .signupformBox p {
          margin: 0;
          padding: 0;
          font-weight: bold;
          color: lightslategray;
        }
        
        .signupformBox input {
          margin-bottom: 20px;
          width: 100%;
          }
        
          .signupformBox input[type="text"],
          .signupformBox input[type="Password"] 
          {
            border: none;
            border-bottom:  2px solid lightslategray;
            outline: none;
            height: 40px;
              }
              .signupformBox input[type="text"]:focus,
              .signupformBox input[type="Password"]:focus
               {
                border-bottom:  2px solid lightslategray; 
              }
          
              .signupformBox input[type="submit"] {
                border: none;
                outline: none;
                height: 40px;
                color: lightslategray;
                background: #262626;
                cursor: pointer;
              }
        
              .signupformBox input[type="submit"]:hover {
                background: midnightblue;
              }
        
              .signupformBox a {
                color: midnightblue;
                font-size: 12px;
                font-weight: bold;
              }



  /*recipe pages*/

  .recipecontainer {
    text-align: center;
  }

 .recipecontainer u {
    color: lightslategray;
 }

 .recipecontainer h2 {
   color: lightslategray;
 }

 .recipecontainer img {
   height: 300px;
   width: 300px;
 }

 .verticallist ol {
   width: 200px;
  padding: 0;
   margin: auto;
 }

 .instructionlist {
   width: 500px;
 }

 .recipeflex {
   display: flex;
   justify-content: center;
 }

.print button {
  width:200px;
  float: right;
  border: solid 3px black;
  background-color: rgba(16, 154, 179, 0.842);
}